<a href="https://colab.research.google.com/github/Vickymaurya1/machine-learning-course/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [11]:
data = {"name" : ["a", "b", "c" , "d" , "a" , "c"], "eng" : [ 8,7,5,8,8,4] , "hindi" : [2,3,4,5,2,6]}

In [16]:
df = pd.DataFrame(data)

In [19]:
#to list the duplicate data
df["duplicated"] = df.duplicated()
df

  name  eng  hindi  duplicated
0    a    8      2       False
1    b    7      3       False
2    c    5      4       False
3    d    8      5       False
4    a    8      2        True
5    c    4      6       False